.formulario {
  background-color: rgba(254, 66, 54, 1);
  width: 500px;
  height: 650px;
  margin-top: 207px;
  margin-left: 324px;
  margin: 3% auto;
  padding: 5%;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.formulario > div {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
}

.formulario input,
.formulario textarea {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario input:focus {
  outline: none;
  border: 2px solid #0085ff;
}

.formulario .error {
  color: white;
  font-weight: 400;
  font-size: 12px;
}

.formulario button[type="submit"] {
  display: block;
  background: #0085ff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease all;
  bottom: 10px; /* Ajusta la posición según tus necesidades */
  right: 10px;
}

.formulario button[type="submit"]:hover {
  background: #0051ff;
}

.formulario .exito {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  color: #02a802;
}

body {
  /* background-color: #fe4236; */
  background-color: white;
}

.container-inputs {
  margin-top: 10px;
}
